<!--
Course: CST205-01_FA20:Multimedia Design & Progmng
Title: CST-205-Final-Project
Authors: Riley Galloway, Eric Guerra, Pedro Avalos
Date: 12/2/2020
Sources: Behind The Name API, Google Tmage Search API
-->


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">



<body>
    <div class="container">
        <h2>Learn a little about your name.</h2>
		<div class="jumbotron">
            <h1>Enter Your Name</h1>
            
            <form action='/second' method = 'POST'>
                <input id="searchedName" class="col-sm-4" type="text" name="searchedName">
                <button class="btn btn-primary" type="submit" id="nameSearch"> Search </button>
            </form>
            <p>Some names have less data then others, but don't worry, that just means it's more unique.</p>
        </div>
    </div>
</body>
